In [1]:
import numpy as np
import pandas as pd

import seaborn as sns

In [2]:
seed = 42
rng = np.random.RandomState(seed)

In [3]:
planets = sns.load_dataset('planets')
print(f"Planets data, shape: {planets.shape}")

Planets data, shape: (1035, 6)

In [4]:
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [5]:
planets.groupby('method')['orbital_period'].median()

method
Astrometry                         631.180000
Eclipse Timing Variations         4343.500000
Imaging                          27500.000000
Microlensing                      3300.000000
Orbital Brightness Modulation        0.342887
Pulsar Timing                       66.541900
Pulsation Timing Variations       1170.000000
Radial Velocity                    360.200000
Transit                              5.714932
Transit Timing Variations           57.011000
Name: orbital_period, dtype: float64

In [6]:
for (method, group) in planets.groupby('method'):
    print("{0:30s} shape={1}".format(method, group.shape))

Astrometry                     shape=(2, 6)
Eclipse Timing Variations      shape=(9, 6)
Imaging                        shape=(38, 6)
Microlensing                   shape=(23, 6)
Orbital Brightness Modulation  shape=(3, 6)
Pulsar Timing                  shape=(5, 6)
Pulsation Timing Variations    shape=(1, 6)
Radial Velocity                shape=(553, 6)
Transit                        shape=(397, 6)
Transit Timing Variations      shape=(4, 6)

In [7]:
planets.groupby('method')['year'].describe().unstack()

       method
count  Astrometry                          2.000000
       Eclipse Timing Variations           9.000000
       Imaging                            38.000000
       Microlensing                       23.000000
       Orbital Brightness Modulation       3.000000
       Pulsar Timing                       5.000000
       Pulsation Timing Variations         1.000000
       Radial Velocity                   553.000000
       Transit                           397.000000
       Transit Timing Variations           4.000000
mean   Astrometry                       2011.500000
       Eclipse Timing Variations        2010.000000
       Imaging                          2009.131579
       Microlensing                     2009.782609
       Orbital Brightness Modulation    2011.666667
       Pulsar Timing                    1998.400000
       Pulsation Timing Variations      2007.000000
       Radial Velocity                  2007.518987
       Transit                          2011.236776
       Transit Timing Variations        2012.500000
std    Astrometry                          2.121320
       Eclipse Timing Variations           1.414214
       Imaging                             2.781901
       Microlensing                        2.859697
       Orbital Brightness Modulation       1.154701
       Pulsar Timing                       8.384510
       Pulsation Timing Variations              NaN
       Radial Velocity                     4.249052
       Transit                             2.077867
       Transit Timing Variations           1.290994
                                           ...
50%    Astrometry                       2011.500000
       Eclipse Timing Variations        2010.000000
       Imaging                          2009.000000
       Microlensing                     2010.000000
       Orbital Brightness Modulation    2011.000000
       Pulsar Timing                    1994.000000
       Pulsation Timing Variations      2007.000000
       Radial Velocity                  2009.000000
       Transit                          2012.000000
       Transit Timing Variations        2012.500000
75%    Astrometry                       2012.250000
       Eclipse Timing Variations        2011.000000
       Imaging                          2011.000000
       Microlensing                     2012.000000
       Orbital Brightness Modulation    2012.000000
       Pulsar Timing                    2003.000000
       Pulsation Timing Variations      2007.000000
       Radial Velocity                  2011.000000
       Transit                          2013.000000
       Transit Timing Variations        2013.250000
max    Astrometry                       2013.000000
       Eclipse Timing Variations        2012.000000
       Imaging                          2013.000000
       Microlensing                     2013.000000
       Orbital Brightness Modulation    2013.000000
       Pulsar Timing                    2011.000000
       Pulsation Timing Variations      2007.000000
       Radial Velocity                  2014.000000
       Transit                          2014.000000
       Transit Timing Variations        2014.000000
Length: 80, dtype: float64

In [8]:
planets.groupby('method')['year'].describe().unstack().unstack()

method,Astrometry,Eclipse Timing Variations,Imaging,Microlensing,Orbital Brightness Modulation,Pulsar Timing,Pulsation Timing Variations,Radial Velocity,Transit,Transit Timing Variations
count,2.00000,9.000000,38.000000,23.000000,3.000000,5.00000,1.0,553.000000,397.000000,4.000000
mean,2011.50000,2010.000000,2009.131579,2009.782609,2011.666667,1998.40000,2007.0,2007.518987,2011.236776,2012.500000
std,2.12132,1.414214,2.781901,2.859697,1.154701,8.38451,NaN,4.249052,2.077867,1.290994
min,2010.00000,2008.000000,2004.000000,2004.000000,2011.000000,1992.00000,2007.0,1989.000000,2002.000000,2011.000000
25%,2010.75000,2009.000000,2008.000000,2008.000000,2011.000000,1992.00000,2007.0,2005.000000,2010.000000,2011.750000
50%,2011.50000,2010.000000,2009.000000,2010.000000,2011.000000,1994.00000,2007.0,2009.000000,2012.000000,2012.500000
75%,2012.25000,2011.000000,2011.000000,2012.000000,2012.000000,2003.00000,2007.0,2011.000000,2013.000000,2013.250000
max,2013.00000,2012.000000,2013.000000,2013.000000,2013.000000,2011.00000,2007.0,2014.000000,2014.000000,2014.000000

In [12]:
# Count discovered planets by method and by decade:

# print(planets['year'])

decade = 10 * (planets['year'] // 10)
# print(decade.head())
print(type(decade))

decade = decade.astype(str) + 's'
# print(decade.head())

decade.name = 'decade'
print(decade.head())

planets.groupby(['method', decade])['number'].describe().unstack().fillna(0)
# planets.groupby(['method', decade])['number'].sum().unstack().fillna(0)

<class 'pandas.core.series.Series'>
0    2000s
1    2000s
2    2010s
3    2000s
4    2000s
Name: decade, dtype: object

decade                         1980s  1990s  2000s  2010s
method
Astrometry                       0.0    0.0    0.0    2.0
Eclipse Timing Variations        0.0    0.0    5.0   10.0
Imaging                          0.0    0.0   29.0   21.0
Microlensing                     0.0    0.0   12.0   15.0
Orbital Brightness Modulation    0.0    0.0    0.0    5.0
Pulsar Timing                    0.0    9.0    1.0    1.0
Pulsation Timing Variations      0.0    0.0    1.0    0.0
Radial Velocity                  1.0   52.0  475.0  424.0
Transit                          0.0    0.0   64.0  712.0
Transit Timing Variations        0.0    0.0    0.0    9.0